@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

body h1{
    font-family: 'Cinzel', serif;
}
.banner{
    width: 100%;
    height: 600px;
    background-image: url("assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner_info{
    color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    padding-top: 80px;
}
.mouse{
    width: fit-content;
    margin: auto;
    position: absolute;
    bottom: 20px;
    left: 48%;
}

/* about section */
.about{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.479);
    padding: 20px;
}
/* .service section  */
.service{
    background-image: url("assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px;
    width: 95%;
    height: 400px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;

}
.service div{
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.wwd{
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
.cons div{
    width: 400px;
}
.info div{
    width: 450px;
    padding: 10px;
}
/* portfolio section  */
.portfolio{
    width: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.port{
    width: fit-content;
    padding: 10px;
    position: relative;
}
/* contact section  */
.contact{
    margin: auto;
    margin-top: 50px;
    background-image: url("assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 680px;
    text-align: center;    
    position: relative;
}
.frm{
    width: fit-content;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}
form .row{
    width: 100%;
    margin: auto;
    padding: 0px;
}
.row .col{
    padding: 0px;
    width: 47%;
}
form div{
    padding-top: 20px;
    padding-bottom: 20px;
}
input[type=text] {
    background:transparent;
    color: white;
  }
input[type=email] {
    background:transparent;
    color: white;
  }
textarea[type=text] {
    background:transparent;
    color: black;
  }

/* footer section  */
.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.footer div{
    width: fit-content;
    margin: auto;
}
.footer img{
    padding: 10px;
}
/* css responsiveness */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000080;
    color: black;
    text-align: center;
  }
  .overlay p{
      position: absolute;
      top: 40%;
      left: 25%;
      right: 25%;
      padding: 20px;
      background-color: white;
  }
  .port:hover .overlay {
    opacity: 1;
  }
  