.banner{
    width: 100%;
    height: 600px;
    background-image: url("assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner_info{
    color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    padding-top: 80px;
}
.about{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.479);
    padding: 20px;
}
.service{
    background-image: url("assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px;
    width: 95%;
    height: 400px;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;

}
.service div{
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.wwd{
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
.cons div{
    width: 400px;
}
.info div{
    width: 450px;
    padding: 10px;
}

.portfolio{
    width: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.row div{
    width: fit-content;
}